/* 
    Document   : main
    Created on : Apr 12, 2012, 10:40:29 AM
    Author     : vaibhavkulkarni
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/********** CUSTOM ********************/

.error {
    background: #FAAC58;
    padding: 1px;
    border: 1px solid red;
}

.div2{
    float: left;
    width: 40%;
    padding: 15px;
    padding-left:20px;
    margin: 10px;
    border-left: 1px dotted #efefef;
    max-height: 275px;
}
.clr{
    clear: both;
}

.expertname {
}

.lessonName{
}

.lessontypeimg{
    clear:both;
    float: left;
    height: 200px;
    width: 300px;
}
#lessonList {
    clear: both;
}


.comments {
    padding: 10px;
    margin: 20px;
    padding-left: 0px;
    margin-left: 0px;
}

.rating img{
    cursor:pointer;
    height: 20px;
    width: 20px;
}

.rating {
}

table.badgeDesc, table.badgeDesc tr, table.badgeDesc td{
    border: 1px dotted gold;
}
table.badgeDesc tr, table.badgeDesc td{
    padding: 5px;
}

.label, .badgeLevel {
    font-weight: bold;
}

.red {
    color: red;
}

.badgeImg {
    height: 200px;
    width: 200px;
}

.suggestedP{
    margin:0px;
    padding:0px;
    padding-top: 18px;
    border-top: 1px dotted silver;
    border-bottom: 1px dotted silver;
}

.suggestedH {
    margin-top:0px;
    color: #6F7D04;
}

.descImg {
    height: 50px;
    width: 50px;
    padding: 2px;
    margin: 2px;
    float: left;
}

.hideDesc {
    display:none;
}